{% extends 'base.html' %}

{% block header %}
  
{% endblock %}



{% block content %}
<div class="container" style="justify-content: center; align-items: center;">
  <div class="row"> <br><br><br><br><br><br><br>
  </div>
  <div class="row">
    <div class="col lg-5"></div>
    <div class="col border">
      <h1>{% block title %}Log In{% endblock %}</h1> <br>
    <form method="post">
      <div class="form-group">
        <label for="username">Computing ID</label>
        <input name="username" class="form-control" id="username" placeholder="Enter computing ID" required>
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input name="password" class="form-control" id="password" placeholder="Password" required type="password" >
      </div>
      <button type="submit" class="btn btn-primary">Login</button>
    </form>
    <br>
  </div>
  <div class="col lg-5"></div>
  </div>
</div>

{% endblock %}