<!doctype html>
<title>{% block title %}{% endblock %} - Backend</title>
<link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.min.css') }}">


<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <!-- <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li> -->



      {% for k,v in g.db[0].items() %}
        {% if k in g.user.courses %}
          <li class="nav-item">
            <a class="nav-link" href="/course/{{k}}">{{v.course_name}}</a>
          </li>
          
        {% endif %}
      {% endfor %}

      
    </ul>
    
    {% if g.user %}
        <a class="nav-item nav-link ml-auto" href="{{ url_for('auth.logout') }}">Logout</a>
    {% else %}
        <a class="nav-item nav-link ml-auto" href="{{ url_for('auth.login') }}">Login</a>
    {% endif %}

  </div>
</nav>



<!-- <nav class="navbar navbar-dark bg-primary">
  <a class="navbar-brand" href="{{ url_for('index') }}">
    <img src="{{ url_for('static', filename='perry_smol.jpg') }}" width="30" height="30" alt="">
    OWCA
  </a> -->

 


<section class="content">
  <header>
    {% block header %}{% endblock %}
  </header>
  {% for message in get_flashed_messages() %}
    <div class="flash">{{ message }}</div>
  {% endfor %}
  {% block content %}{% endblock %}
</section>