{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Log In{% endblock %}</h1>
{% endblock %}

{% block content %}
  <form method="post">
    <div class="form-group">
      <label for="username">Computing ID</label>
      <input name="username" class="form-control" id="username" placeholder="Enter email" required>
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <input name="password" class="form-control" id="password" placeholder="Password" required type="password" >
    </div>
    <button type="submit" class="btn btn-primary">Log In</button>
  </form>
{% endblock %}