{% extends 'base.html' %}

{% block header %}
  <h1 class="display-4">{% block title %}Welcome, {{g.user.id}} {% endblock %}</h1>
{% endblock %}

{% block content %}
<hr>
<div class="container">
  <div class="row">
    <div class="col-8">
      <h5>Schedule</h5>
      <iframe src="https://calendar.google.com/calendar/embed?height=600&amp;wkst={{today}}&amp;bgcolor=%23ffffff&amp;ctz=America%2FNew_York&amp;src=aGNpZmFsbDIwMjBAZ21haWwuY29t&amp;src=MDhhdWs3aTFrOWxxcmJsMTlwYTdsYmw0dDBAZ3JvdXAuY2FsZW5kYXIuZ29vZ2xlLmNvbQ&amp;src=ZW4udXNhI2hvbGlkYXlAZ3JvdXAudi5jYWxlbmRhci5nb29nbGUuY29t&amp;color=%23039BE5&amp;color=%23F4511E&amp;color=%230B8043&amp;showNav=1&amp;showDate=1&amp;showTitle=0&amp;showPrint=0&amp;showTabs=0&amp;showCalendars=1&amp;showTz=0&amp;mode=WEEK"
      style="border-width:0" width="700" height="450" frameborder="0" scrolling="no"></iframe>
    </div>
    <div class="col">
      <div class="row">
        <h5>Upcoming Deadlines</h5>
      </div>
      <div class="row">

        <div class="list-group pre-scrollable" style="max-height: 68vh;">
          {% for deadline in deadlines%}
            {% if due_today[loop.index0] %}
              <a href= {{deadline.assignment_link}} class="list-group-item list-group-item-action flex-column align-items-start active" target="_blank">
            {% else %}
              <a href= {{deadline.assignment_link}} class="list-group-item list-group-item-action flex-column align-items-start" target="_blank">
            {% endif %}
              
            <div class="d-flex w-100 justify-content-between">
              <h6 class="mb-1">{{deadline.name}}</h6>
              <small> {{badges[loop.index0]}}</small>
            </div>
            <p class="mb-1">{{deadline.description}}</p>
            <small>Due: {{deadline.due_date}}</small>
          </a>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</div>


<!-- <ul>
  {% for deadline in deadlines%}
    <li>Deadline {{deadline.name}} due on {{deadline.due_date}}. Get more information <a href= {{deadline.assignment_link}} >here</a></li>
  {% endfor %}
</ul> -->
  <!-- {% for post in posts %} -->
    <!-- <article class="post">
      <header>
        <div>
          <h1>{{ post['title'] }}</h1>
          <div class="about">by {{ post['username'] }} on {{ post['created'].strftime('%Y-%m-%d') }}</div>
        </div>
        {% if g.user['id'] == post['author_id'] %}
          <a class="action" href="{{ url_for('blog.update', id=post['id']) }}">Edit</a>
        {% endif %}
      </header>
      <p class="body">{{ post['body'] }}</p>
    </article> -->
    <!-- {% if not loop.last %}
      <hr>
    {% endif %} -->
  <!-- {% endfor %} -->
{% endblock %}